<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type=text/css href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
    p,h1,h2,h3,h4,h5,button {
      font-family:"Futura";
      color:white;
    }

    body{
      background-image:url("/static/background.png");
    }

    img{
      margin-left:40px;
      height:19.5%;
      width:19.5%;
    }

    </style>

    <title>HackShop</title>
    </head>
    <br>
    <br>
    <a href="/">
      <button type="button" href="/" style="margin-left: 40px; background-color:white; border-color:#1D70A2; color:#1D70A2;" class="btn btn-outline-light btn-lg">HackShop</button>
    </a>
    <br>
    <br>
    <br>

    <h1 style="margin-left:40px;"> <u style="color:#022B3A;"> Shop Instantly </u> </h1>
    <br>
    <h4 style="margin-left:40px;"> Our vision is to be earth's most customer-centric company; to build a place where <br>people can come to find and discover anything they might want to buy online.
    </h4>
    <br>


    <form style="margin-left:40px;" class="md-form" method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
      </form>
<br>
    <img src="static/{{imgURL}}" >
    <br>
    <br>
    <br>
    <h1 style="margin-left:40px;"> <u style="color:#022B3A;"> Results </u> </h1>
    <br>
      <table style="margin-left:40px;" class="table table-bordered table-hover" width="50%">
        <thead class="thead-dark">
          <tr>
            <th scope="col"> Information </th>
            <th> First Listing </th>
            <th> Second Listing </th>
            <th> Third Listing </th>
          </tr>
          </thead>
          <tbody>
            <!--

            <tr>
            <th scope="row">
              Title
            </th>
            {% for each in title %}
              <td> {{each}} </td>
            {% endfor %}
            </tr>
            <tr class="table-primary">
              <th scope="row">
                  Description
              </th>
              {% for each in description %}
                 <td> {{each}} </td>
             {% endfor %}
              </tr>
            -->
               <tr class="table-secondary">
                 <th scope="row">URL</th>
                 {% for each in url %}
                  <td>  <a href="{{each}}">
{{each}}                 </a>
</td>
                {% endfor %}
              <br>
               </tr>
              </tbody>
               </table>
             </div>
           </div>
<br>
  </body>
</html>
