<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type=text/css href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
    p,h1,h2,h3,h4,h5,button {
      font-family:"Futura";
      color:white;
    }

    body{
      background-image:url("/static/background.png");
    }

    img{
      margin-left:40px;
      height:20%;
      width:20%;
    }

    </style>

    <title>HackShop</title>
    </head>
    <br>
    <br>
    <a href="/">
      <button type="button" href="/" style="margin-left: 40px; background-color:white; border-color:#1D70A2; color:#1D70A2;" class="btn btn-outline-light btn-lg">HackShop</button>
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 style="margin-left:40px;"> <u style="color:#022B3A;"> Shop Instantly </u> </h1>
    <br>
    <h4 style="margin-left:40px;"> Our vision is to be earth's most customer-centric company; to build a place where <br>people can come to find and discover anything they might want to buy online.
    </h4>
    <br>


    <form style="margin-left:40px;" class="md-form" method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
      </form>
<br>
    <img src="static/{{imgURL}}" >
    <br>
    <br>
    <br>
  </body>
</html>
